<div class="about-paged">
  <p>
    A small project with MEAN stack.
  </p>
  <div>
    Contact Me :
  </div>
  <p>
    <a href="https://www.facebook.com/ninhnguyen375" target="_blank">
      <button nz-button>Facebook <i nz-icon nzType="facebook" nzTheme="fill"></i></button>
    </a>
    <a href="mailto:ninhnguyen375@gmail.com">
      <button nz-button [nzType]="'danger'">Gmail <i nz-icon nzType="mail"
          nzTheme="fill"></i></button>
    </a>
  </p>
  <p>
    <a href="https://github.com/ninhnguyen375/MEAN-stack-film-managerment" target="_blank">
      Project on Github <i nz-icon nzType="github" nzTheme="fill"></i>
    </a>
  </p>
</div>
