<!-- <div class="form-fixed-center"> -->
<!-- <form (ngSubmit)="handleAddFilm(addForm)" #addForm> -->
<!-- <form (ngSubmit)="handleAddFilm(myForm)" #myForm> -->

<!-- Add Image -->
<!-- <button type="button"><label for="img">Choose Image</label></button> -->
<!-- <input required accept="image/png, image/jpeg" class="hidden" type="file" id="img" -->
<!-- name="file" /> -->

<!-- Add Name -->
<!-- <input required type="text" placeholder="name" name="name"> -->

<!-- Add Director -->
<!-- <input required type="text" placeholder="director" name="director"> -->

<!-- Add manufacturer -->
<!-- <select name="manufacturer"> -->
<!-- <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer._id"> -->
<!-- {{ manufacturer.name }} -->
<!-- </option> -->
<!-- </select> -->

<!-- Add start_record -->
<!-- <input required type="date" name="start_record"> -->

<!-- Add premiere_date -->
<!-- <input required type="date" name="premiere_date"> -->
<!--  -->
<!-- <button type="submit">Add</button> -->
<!-- <button type="button" (click)="onCancel()">Cancel</button> -->
<!-- </form> -->
<!-- </div> -->


<nz-modal [(nzVisible)]="isShowAddFilm" (nzOnOk)="handleAddFilm()" [nzOkLoading]="isOkLoading"
  nzTitle="Add New Film" (nzOnCancel)="onCancel()">

  <form nz-form [formGroup]="validateForm">

    <nz-form-item>
      <nz-form-control>

        <nz-form-label [nzFor]="'file'">Change Image</nz-form-label>
        <input nz-input accept="image/png, image/jpeg" type="file" id="file" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <!-- Input name -->
        <nz-form-label [nzFor]="'name'">Film's Name</nz-form-label>
        <input id="name" type="text" nz-input formControlName="name" placeholder="name" />
        <!-- Explain Errors -->
        <nz-form-explain
          *ngIf="validateForm.get('name')?.dirty && validateForm.get('name')?.errors">
          Please input name!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- Director -->
    <nz-form-item>
      <nz-form-control>
        <!-- Input Director -->
        <nz-form-label [nzFor]="'director'">Film's Director</nz-form-label>
        <input id="director" type="text" nz-input formControlName="director"
          placeholder="director" />
        <!-- Explain Errors -->
        <nz-form-explain
          *ngIf="validateForm.get('director')?.dirty && validateForm.get('director')?.errors">
          Please input director!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- manufacturer -->
    <nz-form-item>
      <nz-form-control>
        <!-- Input Director -->
        <nz-form-label [nzFor]="'manufacturer'">Film's manufacturer</nz-form-label>
        <nz-select formControlName="manufacturer">
          <nz-option *ngFor="let m of manufacturers" [nzLabel]="m.name" [nzValue]="m._id">
          </nz-option>
        </nz-select>
        <!-- Explain Errors -->
        <nz-form-explain
          *ngIf="validateForm.get('director')?.dirty && validateForm.get('director')?.errors">
          Please input director!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- start_record -->
    <nz-form-item>
      <nz-form-control>
        <!-- Input start_record -->
        <nz-form-label [nzFor]="'start_record'">Start record (<= now)</nz-form-label>
            <nz-date-picker id="start_record" formControlName="start_record">
            </nz-date-picker>
            <!-- Explain Errors -->
            <nz-form-explain
              *ngIf="validateForm.get('start_record')?.dirty && validateForm.get('start_record')?.errors">
              Please input start record!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- premiere_date -->
    <nz-form-item>
      <nz-form-control>
        <!-- Input premiere_date -->
        <nz-form-label [nzFor]="'premiere_date'">Premiere date (>= now)</nz-form-label>
        <nz-date-picker id="premiere_date" formControlName="premiere_date">
        </nz-date-picker>
        <!-- Explain Errors -->
        <nz-form-explain
          *ngIf="validateForm.get('premiere_date')?.dirty && validateForm.get('premiere_date')?.errors">
          Please input premiere_date!</nz-form-explain>
      </nz-form-control>
    </nz-form-item>

    <!-- SUBMIT -->
    <!-- <button type="submit" nz-button [nzType]="'primary'">Submit</button> -->
  </form>
</nz-modal>
