<div *ngIf="films && manufacturers && films[0] && manufacturers[0]">
  <!-- Add film -->
  <nz-row [nzType]="'flex'" style="margin: 20px 0;" [nzJustify]="'center'">
    <button nz-button [nzSize]="'large'" (click)="toggleShowAddFilm()">
      <i nz-icon nzType="plus-circle" nzTheme="outline"></i>Add
      Film</button>
  </nz-row>

  <app-add-film [isShowAddFilm]="isShowAddFilm" [manufacturers]="manufacturers"
    (cancel)="toggleShowAddFilm()" (setFilms)="setFilms()">
  </app-add-film>


  <!-- Display Films -->
  <div class="grid-layout">
    <app-film-item *ngFor="let film of films" [manufacturers]="manufacturers"
      (setFilms)="setFilms()" [film]="film">
    </app-film-item>
  </div>
</div>

<div *ngElse>
  Loading...
</div>
